<section class="about bg-orange-600 text-zinc-50" id="about">
  <div
    class="container m-auto py-5 flex flex-col gap-5 md:flex-row-reverse md:items-center"
  >
    <div class="about-left md:flex-1">
      <h1 class="text-2xl text-center mb-5">Acerca De Nosotros</h1>
      <p class="text-xl">
        En Oscar Veléz, estamos dedicados a proporcionar servicios de acabados,
        remodelaciones y servicios eléctricos de alta calidad. Con más de 12
        años de experiencia en el campo, hemos desarrollado una gran reputación
        por nuestra atención al detalle y nuestra dedicación al servicio al
        cliente. Nos esforzamos por entender las necesidades y deseos de
        nuestros clientes, y trabajamos estrechamente con ellos para garantizar
        que sus proyectos se completen de acuerdo con sus expectativas. Nos
        enorgullecemos de nuestra ética de trabajo responsable y confiable, y
        nos aseguramos de cumplir con todos los estándares de seguridad y
        cumplimiento normativo. En Oscar Veléz, tenemos un equipo altamente
        calificado y experimentado de profesionales en acabados, remodelaciones
        y servicios eléctricos. Estamos comprometidos con brindar un servicio
        excepcional y utilizar solo los mejores materiales y equipos disponibles
        en el mercado. Además, brindamos una garantía en nuestros trabajos para
        garantizar la satisfacción total del cliente. Si está buscando un equipo
        confiable y experimentado para sus proyectos de remodelación y servicios
        eléctricos, no busque más allá de Oscar Veléz. Estamos disponibles para
        responder cualquier pregunta que pueda tener y proporcionarle una
        cotización para su proyecto. Contáctenos hoy mismo para discutir cómo
        podemos ayudarlo a hacer realidad sus sueños de remodelación.
      </p>
    </div>
    <div class="about-right md:flex-1">
      <img
        src="/undraw/undraw-about.svg"
        alt="SVG of person see personal information"
      />
    </div>
  </div>
</section>
