<section class="contacto py-5 bg-orange-600 text-zinc-50" id="contact">
  <div class="container m-auto">
    <h1 class="text-2xl text-center">Contacto</h1>
    <div class="social-media flex justify-center gap-5">
      <a
        href="https://www.facebook.com/"
        class="text-zinc-50 text-xl cursor-pointer"
        ><i class="fab fa-facebook-f"></i></a
      >
      <a
        href="https://www.instagram.com/"
        class="text-zinc-50 text-xl cursor-pointer"
        ><i class="fab fa-whatsapp"></i></a
      >
    </div>
    <form action="">
      <div class="flex flex-col gap-5 mt-5">
        <input
          type="text"
          placeholder="Nombre"
          class="bg-zinc-50 text-zinc-900 p-2 rounded-md"
        />
        <input
          type="email"
          placeholder="Email"
          class="bg-zinc-50 text-zinc-900 p-2 rounded-md"
        />
        <textarea
          name=""
          id=""
          cols="30"
          rows="10"
          placeholder="Mensaje"
          class="bg-zinc-50 text-zinc-900 p-2 rounded-md"></textarea>
        <button type="submit" class="bg-zinc-50 text-zinc-900 p-2 rounded-md">
          Enviar
        </button>
      </div>
    </form>
  </div>
</section>

<style>
  textarea,
  input {
    border: none;
    outline: none;
  }
</style>
