---
import Carousel from "../Carousel.astro";
---

<section class="description container m-auto py-5">
  <p class="description-first text-xl">
    Si está buscando una empresa de acabados, remodelación y personalización, le
    recomendamos considerar a nuestra empresa. Aquí hay algunas razones por las
    que creemos que somos la mejor opción para sus necesidades:
  </p>

  <Carousel />

  <p class="description-last text-xl">
    Esperamos tener la oportunidad de demostrarle lo que hace que nuestra
    empresa sea una excelente opción para sus necesidades de remodelación y
    acabado. Si desea obtener más información sobre nuestros productos y
    servicios, no dude en ponerse en contacto con nosotros.
  </p>
</section>
