---
import PrimaryButton from "./buttons/PrimaryButton.astro";
---

<footer class="py5 bg-zinc-900 text-zinc-50">
  <div class="container m-auto">
    <div class="flex flex-wrap justify-center">
      <div class="w-full md:w-1/2 lg:w-1/3 p-5">
        <h3 class="text-xl mb-3 text-center">Sobre Nosotros</h3>
        <p class="mb-3">
          En Oscar Veléz, estamos dedicados a proporcionar servicios de
          acabados, remodelaciones y servicios eléctricos de alta calidad. Con
          más de 12 años de experiencia en el campo, hemos desarrollado una gran
          reputación por nuestra atención al detalle y nuestra dedicación al
          servicio al cliente. Nos esforzamos por entender las necesidades y
          deseos de nuestros clientes, y trabajamos estrechamente con ellos para
          garantizar que sus proyectos se completen de acuerdo con sus
          expectativas.
        </p>
        <a href="#about"><PrimaryButton text="Acerca De Nosotros" /></a>
      </div>
      <div class="w-full md:w-1/2 lg:w-1/3 p-5">
        <h3 class="text-xl mb-3 text-center">Contact</h3>
        <p class="mb-3">
          Te invitamos a que nos contactes, estamos dispuestos a ayudarte en
          cualquier momento, responderemos tus dudas y te brindaremos una
          cotización sin compromiso. Juntos podemos crear el hogar de tus
          sueños. ¡No esperes más, contáctanos hoy y déjate sorprender por
          nuestro trabajo!
        </p>
        <a href="#contact"><PrimaryButton text="Contactanos" /></a>
      </div>
      <div class="w-full md:w-1/2 lg:w-1/3 p-5">
        <h3 class="text-xl mb-3 text-center">Social</h3>
        <p>
          Todas nuestras redes sociales, para que puedan seguirnos y estar en
          contacto con nosotros
        </p>
        <div class="social-media flex justify-center gap-5">
          <a
            href="https://www.facebook.com/"
            class="text-orange-600 text-xl cursor-pointer"
            ><i class="fab fa-facebook-f"></i></a
          >
          <a
            href="https://www.instagram.com/"
            class="text-orange-600 text-xl cursor-pointer"
            ><i class="fab fa-whatsapp"></i></a
          >
        </div>
        <p class="mb-3"></p>
      </div>
    </div>
  </div>
</footer>
